{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/css/uikit.min.css"/>
	<link rel="stylesheet" href="{% static 'site/css/dashboard.css' %}">
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js"></script>
	<script src="{% static 'site/js/dashboard.js' %}"></script>
</head>

<body>
<div class="uk-background-primary uk-light uk-preserve-color uk-hidden@m" uk-sticky>
	<nav class="uk-navbar" uk-navbar>
		<div class="uk-navbar-left">
			<a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle href="#offcanvas"></a>
		</div>
		<div class="uk-navbar-center">
			<a class="uk-navbar-item uk-logo" href="#">IdeaBank</a>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<a href="#">
						<img class="uk-border-circle" data-src="https://getuikit.com/docs/images/avatar.jpg" width="30"
							 height="30" alt="Jane Doe" uk-img>
					</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li>
								<a href="#"><span class="uk-margin-small-right" uk-icon="user"></span>Profile</a>
							</li>
							<li>
								<a href="#"><span class="uk-margin-small-right" uk-icon="settings"></span>Settings</a>
							</li>
							<li class="uk-nav-divider"></li>
							<li>
								<a href="#"><span class="uk-margin-small-right" uk-icon="sign-out"></span>Logout</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>

<header
		class="uk-background-primary uk-navbar-container uk-navbar-transparent uk-light uk-preserve-color uk-visible@m"
		uk-sticky role="banner">
	<div class="uk-container uk-container-expand">
		<nav class="uk-navbar" uk-navbar role="navigation">
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="#">IdeaBank</a>
				<div class="uk-navbar-item">
					<span class="uk-badge" uikit-version></span>
				</div>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li>
						<a class="uk-navbar-toggle" uk-search-icon href="#"></a>
						<div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
							<form class="uk-search uk-search-navbar uk-width-1-1" role="form">
								<input class="uk-search-input" type="search" placeholder="Search..." autofocus>
							</form>
						</div>
					</li>
					<li>
						<a class="uk-navbar-item" href="#"><span uk-icon="mail"></span></a>
					</li>
					<li>
						<a class="uk-navbar-item" href="#"><span uk-icon="bell"></span></a>
					</li>
				</ul>
				<ul class="uk-navbar-nav">
					<li>
						<a class="uk-navbar-item" href="#">
							<img class="uk-border-circle" src="https://getuikit.com/docs/images/avatar.jpg" width="40"
								 height="40"
								 alt="Jane Doe">
						</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li>
									<a href="#"><span class="uk-margin-small-right" uk-icon="user"></span>Profile</a>
								</li>
								<li>
									<a href="#"><span class="uk-margin-small-right"
													  uk-icon="settings"></span>Settings</a>
								</li>
								<li class="uk-nav-divider"></li>
								<li>
									<a href="#"><span class="uk-margin-small-right" uk-icon="sign-out"></span>Logout</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<div class="uk-flex">
	<aside class="uk-width-medium uk-position-relative uk-visible@m" role="complementary">
		<div
				class="uk-tile uk-tile-default uk-tile-small uk-width-medium uk-position-fixed uk-overflow-auto uk-box-shadow-medium"
				style="top: 80px; bottom: 0;">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-nav-header">Dashboard</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="table"></span>Home</a>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="thumbnails"></span>Your Ideas</a>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="users"></span>Public Ideas</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="mail"></span>Anayltics</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-nav-header">Test</li>
				<li>
					<a href="#"><span class="uk-margin-small-right" uk-icon="settings"></span>Settings</a>
				</li>
				<li>
					<a href="#"><span class="uk-margin-small-right" uk-icon="trash"></span>Trash</a>
				</li>
			</ul>
		</div>
	</aside>

	<main class="uk-section uk-section-small uk-section-muted uk-width-expand" role="main">
		<div class="uk-container uk-container-expand">
			<h1>Dashboard</h1>
			<div class="uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid>
				<div class="uk-width-1-1">
					<div class="uk-card uk-card-default uk-card-body">

						<form class="uk-width-expand">
							<fieldset class="uk-fieldset">

								<legend class="uk-legend">Legend</legend>

								<div class="uk-margin">
									<input class="uk-input" type="text" placeholder="Input">
								</div>

								<div class="uk-margin">
									<div class="uk-width-1-2@s">
										<input class="uk-input" type="text" placeholder="50">
									</div>
									<div class="uk-width-1-4@s">
										<input class="uk-input" type="text" placeholder="date">
									</div>
									<div class="uk-width-1-4@s">
										<input class="uk-input" type="text" placeholder="time">
									</div>
								</div>

								<div class="uk-margin">
									<textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
								</div>

								<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									<label><input class="uk-checkbox" type="checkbox" checked> A</label>
									<label><input class="uk-checkbox" type="checkbox"> B</label>
								</div>

							</fieldset>
						</form>

					</div>
				</div>
				<div class="uk-width-1-2@m uk-position-relative">
					<div class="uk-card uk-card-default uk-card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet enim quidem
							voluptatibus
							expedita minima fuga quia ducimus veniam rerum culpa, tenetur consectetur, accusamus,
							obcaecati sint
							voluptatem delectus quae.</p>
					</div>
				</div>
				<div class="uk-width-1-2@m">
					<div class="uk-card uk-card-default uk-card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet enim quidem
							voluptatibus
							expedita minima fuga quia ducimus veniam rerum culpa, tenetur consectetur, accusamus,
							obcaecati sint
							voluptatem delectus quae.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet enim quidem
							voluptatibus
							expedita minima fuga quia ducimus veniam rerum culpa, tenetur consectetur, accusamus,
							obcaecati sint
							voluptatem delectus quae.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet enim quidem
							voluptatibus
							expedita minima fuga quia ducimus veniam rerum culpa, tenetur consectetur, accusamus,
							obcaecati sint
							voluptatem delectus quae.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet enim quidem
							voluptatibus
							expedita minima fuga quia ducimus veniam rerum culpa, tenetur consectetur, accusamus,
							obcaecati sint
							voluptatem delectus quae.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<div id="offcanvas" uk-offcanvas="overlay: true">
	<div class="uk-offcanvas-bar">
		<div class="uk-panel">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-active">
					<a href="#"><span class="uk-margin-small-right" uk-icon="grid"></span>Dashboard</a>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="table"></span>Menu</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="thumbnails"></span>Menu</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="users"></span>Menu</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<hr>
		<div class="uk-panel">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="calendar"></span>Menu</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="future"></span>Menu</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="mail"></span>Почта</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<hr>
		<div class="uk-panel">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="settings"></span>Settings</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="trash"></span>Trash</a>
					<ul class="uk-nav-sub">
						<li><a href="#">Sub item</a></li>
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>

</html>
